In [2]:
import pandas as pd

In [7]:
# Files to load
zillow_zip_csv = "Resources/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv"

# Read the CSV into a DataFrame
zillow_zip_df = pd.read_csv(zillow_zip_csv)
zillow_zip_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/2000,...,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,324341.0,...,1112872.0,1121726.0,1132075.0,1136464.0,1135845.0,1136415.0,1142305.0,1154055.0,1172761.0,1189420.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,313589.0,...,517190.0,521689.0,524281.0,526871.0,529670.0,531671.0,533059.0,533273.0,535955.0,538050.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,504802.0,...,1462303.0,1476686.0,1492446.0,1501073.0,1505320.0,1505633.0,1516210.0,1525925.0,1542865.0,1555988.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,225097.0,...,401739.0,412652.0,421798.0,429778.0,436880.0,442631.0,448741.0,458297.0,470006.0,483803.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,408512.0,...,659001.0,664046.0,667237.0,671157.0,675812.0,678741.0,680656.0,680418.0,683519.0,685964.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27334,59376,34430,4109,Zip,ME,ME,Portland,Portland-South Portland,Cumberland County,NaN,...,788666.0,796809.0,801053.0,807217.0,816305.0,834385.0,852718.0,870461.0,883390.0,892418.0
27335,66881,34430,21405,Zip,MD,MD,Annapolis,Baltimore-Columbia-Towson,Anne Arundel County,486003.0,...,1161337.0,1174731.0,1183444.0,1191437.0,1206578.0,1221541.0,1253566.0,1281109.0,1304270.0,1315532.0
27336,61694,34430,10118,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,NaN,...,2067384.0,2046088.0,2050609.0,2080949.0,2111818.0,2112800.0,2103769.0,2088182.0,2095713.0,2113696.0
27337,95186,34430,86343,Zip,AZ,AZ,Crown King,Prescott,Yavapai County,126208.0,...,210419.0,216788.0,216963.0,219104.0,218460.0,218792.0,219817.0,222511.0,233253.0,243950.0
27338,95851,34430,89155,Zip,NV,NV,Las Vegas,Las Vegas-Henderson-Paradise,Clark County,212191.0,...,433298.0,442146.0,449382.0,457505.0,465160.0,471378.0,482015.0,493120.0,506036.0,515776.0

In [8]:
zillow_zip_df.dtypes

RegionID        int64
SizeRank        int64
RegionName      int64
RegionType     object
StateName      object
               ...
12/31/2021    float64
1/31/2022     float64
2/28/2022     float64
3/31/2022     float64
4/30/2022     float64
Length: 277, dtype: object

In [9]:
for column in zillow_zip_df.columns:
    print(f"Column {column}: {zillow_zip_df[column].isnull().sum()} null values and type: {type(column)}")

Column RegionID: 0 null values and type: <class 'str'>
Column SizeRank: 0 null values and type: <class 'str'>
Column RegionName: 0 null values and type: <class 'str'>
Column RegionType: 0 null values and type: <class 'str'>
Column StateName: 0 null values and type: <class 'str'>
Column State: 0 null values and type: <class 'str'>
Column City: 0 null values and type: <class 'str'>
Column Metro: 5945 null values and type: <class 'str'>
Column CountyName: 0 null values and type: <class 'str'>
Column 1/31/2000: 13850 null values and type: <class 'str'>
Column 2/29/2000: 13760 null values and type: <class 'str'>
Column 3/31/2000: 13744 null values and type: <class 'str'>
Column 4/30/2000: 13717 null values and type: <class 'str'>
Column 5/31/2000: 13650 null values and type: <class 'str'>
Column 6/30/2000: 13629 null values and type: <class 'str'>
Column 7/31/2000: 13616 null values and type: <class 'str'>
Column 8/31/2000: 13588 null values and type: <class 'str'>
Column 9/30/2000: 13565 null values and type: <class 'str'>
Column 10/31/2000: 13552 null values and type: <class 'str'>
Column 11/30/2000: 13530 null values and type: <class 'str'>
Column 12/31/2000: 13511 null values and type: <class 'str'>
Column 1/31/2001: 13385 null values and type: <class 'str'>
Column 2/28/2001: 13340 null values and type: <class 'str'>
Column 3/31/2001: 13296 null values and type: <class 'str'>
Column 4/30/2001: 13264 null values and type: <class 'str'>
Column 5/31/2001: 13239 null values and type: <class 'str'>
Column 6/30/2001: 13226 null values and type: <class 'str'>
Column 7/31/2001: 13215 null values and type: <class 'str'>
Column 8/31/2001: 13181 null values and type: <class 'str'>
Column 9/30/2001: 13124 null values and type: <class 'str'>
Column 10/31/2001: 13093 null values and type: <class 'str'>
Column 11/30/2001: 13065 null values and type: <class 'str'>
Column 12/31/2001: 13043 null values and type: <class 'str'>
Column 1/31/2002: 13013 null values and type: <class 'str'>
Column 2/28/2002: 12992 null values and type: <class 'str'>
Column 3/31/2002: 12968 null values and type: <class 'str'>
Column 4/30/2002: 12835 null values and type: <class 'str'>
Column 5/31/2002: 12835 null values and type: <class 'str'>
Column 6/30/2002: 12734 null values and type: <class 'str'>
Column 7/31/2002: 12723 null values and type: <class 'str'>
Column 8/31/2002: 12664 null values and type: <class 'str'>
Column 9/30/2002: 12649 null values and type: <class 'str'>
Column 10/31/2002: 12607 null values and type: <class 'str'>
Column 11/30/2002: 12599 null values and type: <class 'str'>
Column 12/31/2002: 12595 null values and type: <class 'str'>
Column 1/31/2003: 12532 null values and type: <class 'str'>
Column 2/28/2003: 12502 null values and type: <class 'str'>
Column 3/31/2003: 12472 null values and type: <class 'str'>
Column 4/30/2003: 12446 null values and type: <class 'str'>
Column 5/31/2003: 12419 null values and type: <class 'str'>
Column 6/30/2003: 12400 null values and type: <class 'str'>
Column 7/31/2003: 12349 null values and type: <class 'str'>
Column 8/31/2003: 12312 null values and type: <class 'str'>
Column 9/30/2003: 12260 null values and type: <class 'str'>
Column 10/31/2003: 12193 null values and type: <class 'str'>
Column 11/30/2003: 12164 null values and type: <class 'str'>
Column 12/31/2003: 12169 null values and type: <class 'str'>
Column 1/31/2004: 12087 null values and type: <class 'str'>
Column 2/29/2004: 12047 null values and type: <class 'str'>
Column 3/31/2004: 12076 null values and type: <class 'str'>
Column 4/30/2004: 11963 null values and type: <class 'str'>
Column 5/31/2004: 11957 null values and type: <class 'str'>
Column 6/30/2004: 11953 null values and type: <class 'str'>
Column 7/31/2004: 11942 null values and type: <class 'str'>
Column 8/31/2004: 11885 null values and type: <class 'str'>
Column 9/30/2004: 11862 null values and type: <class 'str'>
Column 10/31/2004: 11861 null values and type: <class 'str'>
Column 11/30/2004: 11810 null values and type: <class 'str'>
Column 12/31/2004: 11799 null values and type: <class 'str'>
Column 1/31/2005: 11797 null values and type: <class 'str'>
Column 2/28/2005: 11616 null values and type: <class 'str'>
Column 3/31/2005: 11529 null values and type: <class 'str'>
Column 4/30/2005: 11500 null values and type: <class 'str'>
Column 5/31/2005: 11396 null values and type: <class 'str'>
Column 6/30/2005: 11313 null values and type: <class 'str'>
Column 7/31/2005: 11227 null values and type: <class 'str'>
Column 8/31/2005: 11152 null values and type: <class 'str'>
Column 9/30/2005: 11155 null values and type: <class 'str'>
Column 10/31/2005: 11120 null values and type: <class 'str'>
Column 11/30/2005: 11096 null values and type: <class 'str'>
Column 12/31/2005: 11099 null values and type: <class 'str'>
Column 1/31/2006: 11075 null values and type: <class 'str'>
Column 2/28/2006: 11033 null values and type: <class 'str'>
Column 3/31/2006: 11031 null values and type: <class 'str'>
Column 4/30/2006: 10997 null values and type: <class 'str'>
Column 5/31/2006: 10963 null values and type: <class 'str'>
Column 6/30/2006: 10940 null values and type: <class 'str'>
Column 7/31/2006: 10909 null values and type: <class 'str'>
Column 8/31/2006: 10878 null values and type: <class 'str'>
Column 9/30/2006: 10835 null values and type: <class 'str'>
Column 10/31/2006: 10833 null values and type: <class 'str'>
Column 11/30/2006: 10839 null values and type: <class 'str'>
Column 12/31/2006: 10803 null values and type: <class 'str'>
Column 1/31/2007: 10714 null values and type: <class 'str'>
Column 2/28/2007: 10667 null values and type: <class 'str'>
Column 3/31/2007: 10646 null values and type: <class 'str'>
Column 4/30/2007: 10648 null values and type: <class 'str'>
Column 5/31/2007: 10571 null values and type: <class 'str'>
Column 6/30/2007: 10537 null values and type: <class 'str'>
Column 7/31/2007: 10514 null values and type: <class 'str'>
Column 8/31/2007: 10453 null values and type: <class 'str'>
Column 9/30/2007: 10425 null values and type: <class 'str'>
Column 10/31/2007: 10386 null values and type: <class 'str'>
Column 11/30/2007: 10382 null values and type: <class 'str'>
Column 12/31/2007: 10381 null values and type: <class 'str'>
Column 1/31/2008: 10303 null values and type: <class 'str'>
Column 2/29/2008: 9989 null values and type: <class 'str'>
Column 3/31/2008: 9980 null values and type: <class 'str'>
Column 4/30/2008: 9939 null values and type: <class 'str'>
Column 5/31/2008: 9902 null values and type: <class 'str'>
Column 6/30/2008: 9811 null values and type: <class 'str'>
Column 7/31/2008: 9744 null values and type: <class 'str'>
Column 8/31/2008: 9705 null values and type: <class 'str'>
Column 9/30/2008: 9696 null values and type: <class 'str'>
Column 10/31/2008: 9619 null values and type: <class 'str'>
Column 11/30/2008: 9587 null values and type: <class 'str'>
Column 12/31/2008: 9527 null values and type: <class 'str'>
Column 1/31/2009: 8916 null values and type: <class 'str'>
Column 2/28/2009: 8205 null values and type: <class 'str'>
Column 3/31/2009: 7661 null values and type: <class 'str'>
Column 4/30/2009: 7296 null values and type: <class 'str'>
Column 5/31/2009: 7065 null values and type: <class 'str'>
Column 6/30/2009: 6889 null values and type: <class 'str'>
Column 7/31/2009: 6773 null values and type: <class 'str'>
Column 8/31/2009: 6660 null values and type: <class 'str'>
Column 9/30/2009: 6595 null values and type: <class 'str'>
Column 10/31/2009: 6552 null values and type: <class 'str'>
Column 11/30/2009: 6533 null values and type: <class 'str'>
Column 12/31/2009: 6492 null values and type: <class 'str'>
Column 1/31/2010: 6483 null values and type: <class 'str'>
Column 2/28/2010: 6328 null values and type: <class 'str'>
Column 3/31/2010: 6288 null values and type: <class 'str'>
Column 4/30/2010: 6258 null values and type: <class 'str'>
Column 5/31/2010: 6217 null values and type: <class 'str'>
Column 6/30/2010: 6188 null values and type: <class 'str'>
Column 7/31/2010: 6128 null values and type: <class 'str'>
Column 8/31/2010: 6110 null values and type: <class 'str'>
Column 9/30/2010: 6064 null values and type: <class 'str'>
Column 10/31/2010: 6042 null values and type: <class 'str'>
Column 11/30/2010: 6011 null values and type: <class 'str'>
Column 12/31/2010: 5986 null values and type: <class 'str'>
Column 1/31/2011: 5965 null values and type: <class 'str'>
Column 2/28/2011: 5820 null values and type: <class 'str'>
Column 3/31/2011: 5784 null values and type: <class 'str'>
Column 4/30/2011: 5755 null values and type: <class 'str'>
Column 5/31/2011: 5720 null values and type: <class 'str'>
Column 6/30/2011: 5682 null values and type: <class 'str'>
Column 7/31/2011: 5666 null values and type: <class 'str'>
Column 8/31/2011: 5641 null values and type: <class 'str'>
Column 9/30/2011: 5637 null values and type: <class 'str'>
Column 10/31/2011: 5612 null values and type: <class 'str'>
Column 11/30/2011: 5579 null values and type: <class 'str'>
Column 12/31/2011: 5553 null values and type: <class 'str'>
Column 1/31/2012: 4680 null values and type: <class 'str'>
Column 2/29/2012: 4474 null values and type: <class 'str'>
Column 3/31/2012: 4469 null values and type: <class 'str'>
Column 4/30/2012: 4449 null values and type: <class 'str'>
Column 5/31/2012: 4434 null values and type: <class 'str'>
Column 6/30/2012: 4425 null values and type: <class 'str'>
Column 7/31/2012: 4395 null values and type: <class 'str'>
Column 8/31/2012: 4384 null values and type: <class 'str'>
Column 9/30/2012: 4380 null values and type: <class 'str'>
Column 10/31/2012: 4350 null values and type: <class 'str'>
Column 11/30/2012: 4330 null values and type: <class 'str'>
Column 12/31/2012: 4317 null values and type: <class 'str'>
Column 1/31/2013: 4321 null values and type: <class 'str'>
Column 2/28/2013: 4038 null values and type: <class 'str'>
Column 3/31/2013: 4032 null values and type: <class 'str'>
Column 4/30/2013: 4004 null values and type: <class 'str'>
Column 5/31/2013: 4001 null values and type: <class 'str'>
Column 6/30/2013: 3991 null values and type: <class 'str'>
Column 7/31/2013: 3950 null values and type: <class 'str'>
Column 8/31/2013: 3954 null values and type: <class 'str'>
Column 9/30/2013: 3897 null values and type: <class 'str'>
Column 10/31/2013: 3869 null values and type: <class 'str'>
Column 11/30/2013: 3858 null values and type: <class 'str'>
Column 12/31/2013: 3824 null values and type: <class 'str'>
Column 1/31/2014: 3831 null values and type: <class 'str'>
Column 2/28/2014: 3604 null values and type: <class 'str'>
Column 3/31/2014: 3595 null values and type: <class 'str'>
Column 4/30/2014: 3593 null values and type: <class 'str'>
Column 5/31/2014: 3533 null values and type: <class 'str'>
Column 6/30/2014: 3507 null values and type: <class 'str'>
Column 7/31/2014: 3497 null values and type: <class 'str'>
Column 8/31/2014: 3492 null values and type: <class 'str'>
Column 9/30/2014: 3453 null values and type: <class 'str'>
Column 10/31/2014: 3452 null values and type: <class 'str'>
Column 11/30/2014: 3438 null values and type: <class 'str'>
Column 12/31/2014: 3415 null values and type: <class 'str'>
Column 1/31/2015: 3469 null values and type: <class 'str'>
Column 2/28/2015: 2982 null values and type: <class 'str'>
Column 3/31/2015: 2951 null values and type: <class 'str'>
Column 4/30/2015: 2907 null values and type: <class 'str'>
Column 5/31/2015: 2884 null values and type: <class 'str'>
Column 6/30/2015: 2891 null values and type: <class 'str'>
Column 7/31/2015: 2859 null values and type: <class 'str'>
Column 8/31/2015: 2839 null values and type: <class 'str'>
Column 9/30/2015: 2828 null values and type: <class 'str'>
Column 10/31/2015: 2822 null values and type: <class 'str'>
Column 11/30/2015: 2812 null values and type: <class 'str'>
Column 12/31/2015: 2779 null values and type: <class 'str'>
Column 1/31/2016: 2773 null values and type: <class 'str'>
Column 2/29/2016: 2616 null values and type: <class 'str'>
Column 3/31/2016: 2581 null values and type: <class 'str'>
Column 4/30/2016: 2605 null values and type: <class 'str'>
Column 5/31/2016: 2559 null values and type: <class 'str'>
Column 6/30/2016: 2516 null values and type: <class 'str'>
Column 7/31/2016: 2516 null values and type: <class 'str'>
Column 8/31/2016: 2455 null values and type: <class 'str'>
Column 9/30/2016: 2466 null values and type: <class 'str'>
Column 10/31/2016: 2441 null values and type: <class 'str'>
Column 11/30/2016: 2420 null values and type: <class 'str'>
Column 12/31/2016: 2411 null values and type: <class 'str'>
Column 1/31/2017: 2428 null values and type: <class 'str'>
Column 2/28/2017: 2324 null values and type: <class 'str'>
Column 3/31/2017: 2310 null values and type: <class 'str'>
Column 4/30/2017: 2284 null values and type: <class 'str'>
Column 5/31/2017: 2254 null values and type: <class 'str'>
Column 6/30/2017: 2212 null values and type: <class 'str'>
Column 7/31/2017: 2200 null values and type: <class 'str'>
Column 8/31/2017: 2178 null values and type: <class 'str'>
Column 9/30/2017: 2160 null values and type: <class 'str'>
Column 10/31/2017: 2177 null values and type: <class 'str'>
Column 11/30/2017: 2147 null values and type: <class 'str'>
Column 12/31/2017: 2101 null values and type: <class 'str'>
Column 1/31/2018: 2111 null values and type: <class 'str'>
Column 2/28/2018: 1937 null values and type: <class 'str'>
Column 3/31/2018: 1904 null values and type: <class 'str'>
Column 4/30/2018: 1889 null values and type: <class 'str'>
Column 5/31/2018: 1851 null values and type: <class 'str'>
Column 6/30/2018: 1841 null values and type: <class 'str'>
Column 7/31/2018: 1797 null values and type: <class 'str'>
Column 8/31/2018: 1792 null values and type: <class 'str'>
Column 9/30/2018: 1762 null values and type: <class 'str'>
Column 10/31/2018: 1744 null values and type: <class 'str'>
Column 11/30/2018: 1748 null values and type: <class 'str'>
Column 12/31/2018: 1710 null values and type: <class 'str'>
Column 1/31/2019: 1595 null values and type: <class 'str'>
Column 2/28/2019: 1584 null values and type: <class 'str'>
Column 3/31/2019: 1591 null values and type: <class 'str'>
Column 4/30/2019: 1578 null values and type: <class 'str'>
Column 5/31/2019: 1558 null values and type: <class 'str'>
Column 6/30/2019: 1537 null values and type: <class 'str'>
Column 7/31/2019: 1523 null values and type: <class 'str'>
Column 8/31/2019: 1508 null values and type: <class 'str'>
Column 9/30/2019: 1557 null values and type: <class 'str'>
Column 10/31/2019: 1579 null values and type: <class 'str'>
Column 11/30/2019: 1622 null values and type: <class 'str'>
Column 12/31/2019: 1534 null values and type: <class 'str'>
Column 1/31/2020: 1429 null values and type: <class 'str'>
Column 2/29/2020: 1365 null values and type: <class 'str'>
Column 3/31/2020: 1297 null values and type: <class 'str'>
Column 4/30/2020: 1267 null values and type: <class 'str'>
Column 5/31/2020: 1224 null values and type: <class 'str'>
Column 6/30/2020: 1163 null values and type: <class 'str'>
Column 7/31/2020: 1110 null values and type: <class 'str'>
Column 8/31/2020: 1089 null values and type: <class 'str'>
Column 9/30/2020: 999 null values and type: <class 'str'>
Column 10/31/2020: 935 null values and type: <class 'str'>
Column 11/30/2020: 1007 null values and type: <class 'str'>
Column 12/31/2020: 784 null values and type: <class 'str'>
Column 1/31/2021: 1883 null values and type: <class 'str'>
Column 2/28/2021: 860 null values and type: <class 'str'>
Column 3/31/2021: 768 null values and type: <class 'str'>
Column 4/30/2021: 609 null values and type: <class 'str'>
Column 5/31/2021: 542 null values and type: <class 'str'>
Column 6/30/2021: 465 null values and type: <class 'str'>
Column 7/31/2021: 418 null values and type: <class 'str'>
Column 8/31/2021: 367 null values and type: <class 'str'>
Column 9/30/2021: 303 null values and type: <class 'str'>
Column 10/31/2021: 275 null values and type: <class 'str'>
Column 11/30/2021: 249 null values and type: <class 'str'>
Column 12/31/2021: 248 null values and type: <class 'str'>
Column 1/31/2022: 163 null values and type: <class 'str'>
Column 2/28/2022: 146 null values and type: <class 'str'>
Column 3/31/2022: 82 null values and type: <class 'str'>
Column 4/30/2022: 7 null values and type: <class 'str'>

In [10]:
clean_zillow_zip_df= zillow_zip_df[["RegionID","SizeRank","RegionName", "State", "City", "CountyName", "12/31/2015", "12/31/2019"]]
clean_zillow_zip_df

,RegionID,SizeRank,RegionName,State,City,CountyName,12/31/2015,12/31/2019
0,61639,0,10025,NY,New York,New York County,1001195.0,1087568.0
1,84654,1,60657,IL,Chicago,Cook County,458409.0,484760.0
2,61637,2,10023,NY,New York,New York County,1376179.0,1437999.0
3,91982,3,77494,TX,Katy,Harris County,342853.0,339324.0
4,84616,4,60614,IL,Chicago,Cook County,601621.0,629716.0
...,...,...,...,...,...,...,...,...
27334,59376,34430,4109,ME,Portland,Cumberland County,503983.0,653295.0
27335,66881,34430,21405,MD,Annapolis,Anne Arundel County,1008356.0,1022830.0
27336,61694,34430,10118,NY,New York,New York County,3021216.0,2269061.0
27337,95186,34430,86343,AZ,Crown King,Yavapai County,147261.0,169529.0
27338,95851,34430,89155,NV,Las Vegas,Clark County,291741.0,381311.0

In [11]:
ca_clean_zillow_zip_df = clean_zillow_zip_df.loc[clean_zillow_zip_df["State"] == "CA", :]
ca_clean_zillow_zip_df

,RegionID,SizeRank,RegionName,State,City,CountyName,12/31/2015,12/31/2019
13,97564,13,94109,CA,San Francisco,San Francisco County,1197337.0,1243968.0
21,96107,22,90250,CA,Hawthorne,Los Angeles County,517432.0,672395.0
39,97771,40,94565,CA,Pittsburg,Contra Costa County,503225.0,606525.0
43,96027,44,90046,CA,Los Angeles,Los Angeles County,1267039.0,1474294.0
87,97711,88,94501,CA,Alameda,Alameda County,860008.0,1063497.0
...,...,...,...,...,...,...,...,...
27302,98397,33114,95715,CA,Soda Springs,Placer County,248203.0,335793.0
27309,98531,33451,95981,CA,Strawberry Valley,Plumas County,204688.0,271101.0
27310,98402,33487,95724,CA,Soda Springs,Placer County,580758.0,663314.0
27328,98152,34322,95375,CA,Strawberry,Tuolumne County,NaN,NaN
27333,98400,34430,95721,CA,Twin Bridges,El Dorado County,262501.0,281592.0

In [12]:
ca_zillow_zip_df = ca_clean_zillow_zip_df.rename(columns={"RegionName": "ZIP"})
ca_zillow_zip_df

,RegionID,SizeRank,ZIP,State,City,CountyName,12/31/2015,12/31/2019
13,97564,13,94109,CA,San Francisco,San Francisco County,1197337.0,1243968.0
21,96107,22,90250,CA,Hawthorne,Los Angeles County,517432.0,672395.0
39,97771,40,94565,CA,Pittsburg,Contra Costa County,503225.0,606525.0
43,96027,44,90046,CA,Los Angeles,Los Angeles County,1267039.0,1474294.0
87,97711,88,94501,CA,Alameda,Alameda County,860008.0,1063497.0
...,...,...,...,...,...,...,...,...
27302,98397,33114,95715,CA,Soda Springs,Placer County,248203.0,335793.0
27309,98531,33451,95981,CA,Strawberry Valley,Plumas County,204688.0,271101.0
27310,98402,33487,95724,CA,Soda Springs,Placer County,580758.0,663314.0
27328,98152,34322,95375,CA,Strawberry,Tuolumne County,NaN,NaN
27333,98400,34430,95721,CA,Twin Bridges,El Dorado County,262501.0,281592.0

In [13]:
for column in ca_clean_zillow_zip_df.columns:
    print(f"Column {column}: {ca_clean_zillow_zip_df[column].isnull().sum()} null values and type: {type(column)}")

Column RegionID: 0 null values and type: <class 'str'>
Column SizeRank: 0 null values and type: <class 'str'>
Column RegionName: 0 null values and type: <class 'str'>
Column State: 0 null values and type: <class 'str'>
Column City: 0 null values and type: <class 'str'>
Column CountyName: 0 null values and type: <class 'str'>
Column 12/31/2015: 86 null values and type: <class 'str'>
Column 12/31/2019: 48 null values and type: <class 'str'>

In [14]:
# Files to load
zip_tract_csv = "Resources/ZIP_TRACT_122015.csv"

# Read the CSV into a DataFrame
zip_tract_df = pd.read_csv(zip_tract_csv)
zip_tract_df

          ZIP        TRACT  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0         501  36103158607   0.000000   1.000000   0.000000   1.000000
1         601  72001956600   0.136996   0.363861   0.338028   0.154844
2         601  72001956700   0.859707   0.631188   0.661972   0.841786
3         601  72001956300   0.003297   0.004950   0.000000   0.003370
4         602  72003430200   0.924362   0.723325   0.770270   0.909631
...       ...          ...        ...        ...        ...        ...
163931  99925   2198000200   0.000000   0.000000   1.000000   1.000000
163932  99926   2198940100   0.000000   0.000000   1.000000   1.000000
163933  99927   2198000100   0.000000   0.000000   1.000000   1.000000
163934  99928   2130000100   0.000000   0.000000   1.000000   1.000000
163935  99929   2275000300   0.000000   0.000000   1.000000   1.000000

[163936 rows x 6 columns]

In [15]:
# Merge the two DataFrames together based on the Dates they share
housing_value_df = pd.merge(ca_zillow_zip_df, zip_tract_df, on="ZIP")
# Merge the two DataFrames together based on the Dates they share
housing_value_df

,RegionID,SizeRank,ZIP,State,City,CountyName,12/31/2015,12/31/2019,TRACT,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
0,97564,13,94109,CA,San Francisco,San Francisco County,1197337.0,1243968.0,6075011200,0.029250,0.004738,0.026009,0.027265
1,97564,13,94109,CA,San Francisco,San Francisco County,1197337.0,1243968.0,6075012000,0.066753,0.098761,0.067037,0.068603
2,97564,13,94109,CA,San Francisco,San Francisco County,1197337.0,1243968.0,6075012901,0.007847,0.002915,0.008271,0.007650
3,97564,13,94109,CA,San Francisco,San Francisco County,1197337.0,1243968.0,6075011100,0.088021,0.142128,0.101426,0.093577
4,97564,13,94109,CA,San Francisco,San Francisco County,1197337.0,1243968.0,6075012902,0.000352,0.001093,0.000653,0.000450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13341,98397,33114,95715,CA,Soda Springs,Placer County,248203.0,335793.0,6061022013,1.000000,0.000000,0.000000,1.000000
13342,98531,33451,95981,CA,Strawberry Valley,Plumas County,204688.0,271101.0,6063000202,0.000000,0.000000,0.333333,0.250000
13343,98531,33451,95981,CA,Strawberry Valley,Plumas County,204688.0,271101.0,6115041100,0.000000,1.000000,0.666667,0.750000
13344,98152,34322,95375,CA,Strawberry,Tuolumne County,NaN,NaN,6109003100,0.000000,0.000000,1.000000,1.000000
13345,98400,34430,95721,CA,Twin Bridges,El Dorado County,262501.0,281592.0,6017032000,0.000000,1.000000,0.000000,1.000000

In [16]:
housing_value_df=housing_value_df.drop(columns=["RegionID"],axis=1)

In [17]:
housing_value_df= housing_value_df[["TRACT","ZIP", "State", "CountyName", "12/31/2015", "12/31/2019"]]
housing_value_df

            TRACT    ZIP State            CountyName  12/31/2015  12/31/2019
0      6075011200  94109    CA  San Francisco County   1197337.0   1243968.0
1      6075012000  94109    CA  San Francisco County   1197337.0   1243968.0
2      6075012901  94109    CA  San Francisco County   1197337.0   1243968.0
3      6075011100  94109    CA  San Francisco County   1197337.0   1243968.0
4      6075012902  94109    CA  San Francisco County   1197337.0   1243968.0
...           ...    ...   ...                   ...         ...         ...
13341  6061022013  95715    CA         Placer County    248203.0    335793.0
13342  6063000202  95981    CA         Plumas County    204688.0    271101.0
13343  6115041100  95981    CA         Plumas County    204688.0    271101.0
13344  6109003100  95375    CA       Tuolumne County         NaN         NaN
13345  6017032000  95721    CA      El Dorado County    262501.0    281592.0

[13346 rows x 6 columns]

In [18]:
housing_value_df.count()

TRACT         13346
ZIP           13346
State         13346
CountyName    13346
12/31/2015    13137
12/31/2019    13255
dtype: int64

In [19]:
# drop null rows
no_null_housing_value_df = housing_value_df.dropna(how='any')
no_null_housing_value_df.count()

TRACT         13128
ZIP           13128
State         13128
CountyName    13128
12/31/2015    13128
12/31/2019    13128
dtype: int64

In [21]:
housing_value_clean_df =  no_null_housing_value_df.rename(columns={"TRACT": "CensusTract"})
housing_value_clean_df

       CensusTract    ZIP State            CountyName  12/31/2015  12/31/2019
0       6075011200  94109    CA  San Francisco County   1197337.0   1243968.0
1       6075012000  94109    CA  San Francisco County   1197337.0   1243968.0
2       6075012901  94109    CA  San Francisco County   1197337.0   1243968.0
3       6075011100  94109    CA  San Francisco County   1197337.0   1243968.0
4       6075012902  94109    CA  San Francisco County   1197337.0   1243968.0
...            ...    ...   ...                   ...         ...         ...
13339   6049000400  96115    CA          Modoc County    178374.0    211105.0
13341   6061022013  95715    CA         Placer County    248203.0    335793.0
13342   6063000202  95981    CA         Plumas County    204688.0    271101.0
13343   6115041100  95981    CA         Plumas County    204688.0    271101.0
13345   6017032000  95721    CA      El Dorado County    262501.0    281592.0

[13128 rows x 6 columns]

In [23]:
housing_value_clean_df.tail(10)

       CensusTract    ZIP State        CountyName  12/31/2015  12/31/2019
13332   6017031900  95720    CA  El Dorado County    216905.0    252995.0
13334   6043000400  93623    CA   Mariposa County    367266.0    387985.0
13335   6043000302  93623    CA   Mariposa County    367266.0    387985.0
13336   6005000102  95646    CA     Alpine County    531071.0    532132.0
13337   6019006402  93605    CA     Fresno County    379164.0    419403.0
13339   6049000400  96115    CA      Modoc County    178374.0    211105.0
13341   6061022013  95715    CA     Placer County    248203.0    335793.0
13342   6063000202  95981    CA     Plumas County    204688.0    271101.0
13343   6115041100  95981    CA     Plumas County    204688.0    271101.0
13345   6017032000  95721    CA  El Dorado County    262501.0    281592.0

In [22]:
housing_value_clean_df.to_csv("Resources/housing_value_clean.csv")