In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# read the data
file_path="Resources/FoodAccess2015.csv"
foodAccess15=pd.read_csv(file_path)
foodAccess15.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

foodAccess15.columns.tolist()

In [3]:
df=pd.DataFrame(foodAccess15)
df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [4]:
california_FoodAccess15=df.loc[df["State"] == "California"]
california_FoodAccess15.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,634,2161,142,456,9,4,165,117,0,0
3559,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,323,1659,33,147,0,4,131,151,57,6
3560,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,493,3468,518,423,5,17,434,399,354,34
3561,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,353,2628,456,278,6,14,321,332,159,9
3562,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,314,1905,955,209,5,27,416,340,258,72

In [5]:
california_FoodAccess15.dtypes

CensusTract       int64
State            object
County           object
Urban             int64
POP2010           int64
                  ...
TractAIAN         int64
TractOMultir      int64
TractHispanic     int64
TractHUNV         int64
TractSNAP         int64
Length: 147, dtype: object

In [6]:
len(california_FoodAccess15.index)

8044

In [7]:
california_FoodAccess15.tail(10)

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
11592,6115040303,California,Yuba,1,6555,1969,0,21,0.003204,0,...,434,3782,362,950,42,90,1329,1834,60,305
11593,6115040400,California,Yuba,1,5538,1625,0,1,0.000181,1,...,427,3136,161,553,39,176,1473,1922,192,548
11594,6115040500,California,Yuba,1,4111,1220,0,33,0.008027,1,...,350,2529,98,213,10,135,1126,1578,86,287
11595,6115040600,California,Yuba,1,6130,1846,0,7,0.001142,1,...,588,3892,117,347,14,182,1578,2267,199,360
11596,6115040700,California,Yuba,0,10879,3320,0,6,0.000552,0,...,540,7103,565,856,103,157,2095,2759,124,81
11597,6115040800,California,Yuba,0,4233,1492,0,4,0.000945,0,...,493,3289,44,213,5,77,605,713,118,227
11598,6115040901,California,Yuba,0,2783,968,0,12,0.004312,0,...,382,1997,31,297,2,75,381,476,41,140
11599,6115040902,California,Yuba,0,1737,385,0,413,0.237766,0,...,2,1262,167,66,9,34,199,247,13,33
11600,6115041000,California,Yuba,0,7357,2802,0,0,0.000000,0,...,1247,6179,57,181,9,156,775,916,56,261
11601,6115041100,California,Yuba,0,4941,2105,0,5,0.001012,0,...,920,4287,30,59,13,189,363,314,17,155

In [8]:
clean_df1 = california_FoodAccess15.drop([col for col in california_FoodAccess15.columns if 'share' in col],axis=1)
clean_df1.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,634,2161,142,456,9,4,165,117,0,0
3559,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,323,1659,33,147,0,4,131,151,57,6
3560,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,493,3468,518,423,5,17,434,399,354,34
3561,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,353,2628,456,278,6,14,321,332,159,9
3562,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,314,1905,955,209,5,27,416,340,258,72

In [9]:
clean_df2=clean_df1.drop([col for col in clean_df1.columns if "Kids"  in col],axis=1)
clean_df2.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,634,2161,142,456,9,4,165,117,0,0
3559,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,323,1659,33,147,0,4,131,151,57,6
3560,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,493,3468,518,423,5,17,434,399,354,34
3561,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,353,2628,456,278,6,14,321,332,159,9
3562,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,314,1905,955,209,5,27,416,340,258,72

In [10]:
clean_df2.columns.tolist()

['CensusTract',
 'State',
 'County',
 'Urban',
 'POP2010',
 'OHU2010',
 'GroupQuartersFlag',
 'NUMGQTRS',
 'PCTGQTRS',
 'LILATracts_1And10',
 'LILATracts_halfAnd10',
 'LILATracts_1And20',
 'LILATracts_Vehicle',
 'HUNVFlag',
 'LowIncomeTracts',
 'PovertyRate',
 'MedianFamilyIncome',
 'LA1and10',
 'LAhalfand10',
 'LA1and20',
 'LATracts_half',
 'LATracts1',
 'LATracts10',
 'LATracts20',
 'LATractsVehicle_20',
 'LAPOP1_10',
 'LAPOP05_10',
 'LAPOP1_20',
 'LALOWI1_10',
 'LALOWI05_10',
 'LALOWI1_20',
 'lapophalf',
 'lalowihalf',
 'lakidshalf',
 'laseniorshalf',
 'lawhitehalf',
 'lablackhalf',
 'laasianhalf',
 'lanhopihalf',
 'laaianhalf',
 'laomultirhalf',
 'lahisphalf',
 'lahunvhalf',
 'lasnaphalf',
 'lapop1',
 'lalowi1',
 'lakids1',
 'laseniors1',
 'lawhite1',
 'lablack1',
 'laasian1',
 'lanhopi1',
 'laaian1',
 'laomultir1',
 'lahisp1',
 'lahunv1',
 'lasnap1',
 'lapop10',
 'lalowi10',
 'lakids10',
 'laseniors10',
 'lawhite10',
 'lablack10',
 'laasian10',
 'lanhopi10',
 'laaian10',
 'laomultir10',
 'lahisp10',
 'lahunv10',
 'lasnap10',
 'lapop20',
 'lalowi20',
 'lakids20',
 'laseniors20',
 'lawhite20',
 'lablack20',
 'laasian20',
 'lanhopi20',
 'laaian20',
 'laomultir20',
 'lahisp20',
 'lahunv20',
 'lasnap20',
 'TractLOWI',
 'TractSeniors',
 'TractWhite',
 'TractBlack',
 'TractAsian',
 'TractNHOPI',
 'TractAIAN',
 'TractOMultir',
 'TractHispanic',
 'TractHUNV',
 'TractSNAP']

In [11]:
clean_df3=clean_df2.drop([col for col in clean_df2.columns if "kids" in col],axis=1)
clean_df3.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,634,2161,142,456,9,4,165,117,0,0
3559,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,323,1659,33,147,0,4,131,151,57,6
3560,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,493,3468,518,423,5,17,434,399,354,34
3561,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,353,2628,456,278,6,14,321,332,159,9
3562,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,314,1905,955,209,5,27,416,340,258,72

In [12]:
clean_df4=clean_df3.drop([col for col in clean_df3.columns if "seniors" in col],axis=1)
clean_df4.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,634,2161,142,456,9,4,165,117,0,0
3559,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,323,1659,33,147,0,4,131,151,57,6
3560,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,493,3468,518,423,5,17,434,399,354,34
3561,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,353,2628,456,278,6,14,321,332,159,9
3562,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,314,1905,955,209,5,27,416,340,258,72

In [13]:
clean_df5=clean_df4.drop([col for col in clean_df4.columns if "Seniors" in col],axis=1)
clean_df5.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractLOWI,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,California,Alameda,1,2937,1314,0,2,0.000681,0,...,173,2161,142,456,9,4,165,117,0,0
3559,6001400200,California,Alameda,1,1974,856,0,70,0.035461,0,...,161,1659,33,147,0,4,131,151,57,6
3560,6001400300,California,Alameda,1,4865,2418,0,40,0.008222,0,...,781,3468,518,423,5,17,434,399,354,34
3561,6001400400,California,Alameda,1,3703,1779,0,33,0.008912,0,...,672,2628,456,278,6,14,321,332,159,9
3562,6001400500,California,Alameda,1,3517,1578,0,126,0.035826,0,...,924,1905,955,209,5,27,416,340,258,72

In [14]:
clean_df5.tail(10)

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractLOWI,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
11592,6115040303,California,Yuba,1,6555,1969,0,21,0.003204,0,...,3263,3782,362,950,42,90,1329,1834,60,305
11593,6115040400,California,Yuba,1,5538,1625,0,1,0.000181,1,...,3509,3136,161,553,39,176,1473,1922,192,548
11594,6115040500,California,Yuba,1,4111,1220,0,33,0.008027,1,...,2510,2529,98,213,10,135,1126,1578,86,287
11595,6115040600,California,Yuba,1,6130,1846,0,7,0.001142,1,...,3584,3892,117,347,14,182,1578,2267,199,360
11596,6115040700,California,Yuba,0,10879,3320,0,6,0.000552,0,...,3749,7103,565,856,103,157,2095,2759,124,81
11597,6115040800,California,Yuba,0,4233,1492,0,4,0.000945,0,...,1285,3289,44,213,5,77,605,713,118,227
11598,6115040901,California,Yuba,0,2783,968,0,12,0.004312,0,...,1421,1997,31,297,2,75,381,476,41,140
11599,6115040902,California,Yuba,0,1737,385,0,413,0.237766,0,...,538,1262,167,66,9,34,199,247,13,33
11600,6115041000,California,Yuba,0,7357,2802,0,0,0.000000,0,...,1889,6179,57,181,9,156,775,916,56,261
11601,6115041100,California,Yuba,0,4941,2105,0,5,0.001012,0,...,2064,4287,30,59,13,189,363,314,17,155

In [15]:
clean_df5.columns.tolist()

['CensusTract',
 'State',
 'County',
 'Urban',
 'POP2010',
 'OHU2010',
 'GroupQuartersFlag',
 'NUMGQTRS',
 'PCTGQTRS',
 'LILATracts_1And10',
 'LILATracts_halfAnd10',
 'LILATracts_1And20',
 'LILATracts_Vehicle',
 'HUNVFlag',
 'LowIncomeTracts',
 'PovertyRate',
 'MedianFamilyIncome',
 'LA1and10',
 'LAhalfand10',
 'LA1and20',
 'LATracts_half',
 'LATracts1',
 'LATracts10',
 'LATracts20',
 'LATractsVehicle_20',
 'LAPOP1_10',
 'LAPOP05_10',
 'LAPOP1_20',
 'LALOWI1_10',
 'LALOWI05_10',
 'LALOWI1_20',
 'lapophalf',
 'lalowihalf',
 'lawhitehalf',
 'lablackhalf',
 'laasianhalf',
 'lanhopihalf',
 'laaianhalf',
 'laomultirhalf',
 'lahisphalf',
 'lahunvhalf',
 'lasnaphalf',
 'lapop1',
 'lalowi1',
 'lawhite1',
 'lablack1',
 'laasian1',
 'lanhopi1',
 'laaian1',
 'laomultir1',
 'lahisp1',
 'lahunv1',
 'lasnap1',
 'lapop10',
 'lalowi10',
 'lawhite10',
 'lablack10',
 'laasian10',
 'lanhopi10',
 'laaian10',
 'laomultir10',
 'lahisp10',
 'lahunv10',
 'lasnap10',
 'lapop20',
 'lalowi20',
 'lawhite20',
 'lablack20',
 'laasian20',
 'lanhopi20',
 'laaian20',
 'laomultir20',
 'lahisp20',
 'lahunv20',
 'lasnap20',
 'TractLOWI',
 'TractWhite',
 'TractBlack',
 'TractAsian',
 'TractNHOPI',
 'TractAIAN',
 'TractOMultir',
 'TractHispanic',
 'TractHUNV',
 'TractSNAP']

In [16]:
FoodAccess_2015_col_list=clean_df5.columns.tolist()
FoodAccess_2015_col_list

['CensusTract',
 'State',
 'County',
 'Urban',
 'POP2010',
 'OHU2010',
 'GroupQuartersFlag',
 'NUMGQTRS',
 'PCTGQTRS',
 'LILATracts_1And10',
 'LILATracts_halfAnd10',
 'LILATracts_1And20',
 'LILATracts_Vehicle',
 'HUNVFlag',
 'LowIncomeTracts',
 'PovertyRate',
 'MedianFamilyIncome',
 'LA1and10',
 'LAhalfand10',
 'LA1and20',
 'LATracts_half',
 'LATracts1',
 'LATracts10',
 'LATracts20',
 'LATractsVehicle_20',
 'LAPOP1_10',
 'LAPOP05_10',
 'LAPOP1_20',
 'LALOWI1_10',
 'LALOWI05_10',
 'LALOWI1_20',
 'lapophalf',
 'lalowihalf',
 'lawhitehalf',
 'lablackhalf',
 'laasianhalf',
 'lanhopihalf',
 'laaianhalf',
 'laomultirhalf',
 'lahisphalf',
 'lahunvhalf',
 'lasnaphalf',
 'lapop1',
 'lalowi1',
 'lawhite1',
 'lablack1',
 'laasian1',
 'lanhopi1',
 'laaian1',
 'laomultir1',
 'lahisp1',
 'lahunv1',
 'lasnap1',
 'lapop10',
 'lalowi10',
 'lawhite10',
 'lablack10',
 'laasian10',
 'lanhopi10',
 'laaian10',
 'laomultir10',
 'lahisp10',
 'lahunv10',
 'lasnap10',
 'lapop20',
 'lalowi20',
 'lawhite20',
 'lablack20',
 'laasian20',
 'lanhopi20',
 'laaian20',
 'laomultir20',
 'lahisp20',
 'lahunv20',
 'lasnap20',
 'TractLOWI',
 'TractWhite',
 'TractBlack',
 'TractAsian',
 'TractNHOPI',
 'TractAIAN',
 'TractOMultir',
 'TractHispanic',
 'TractHUNV',
 'TractSNAP']

In [17]:
col_list2015=pd.DataFrame(FoodAccess_2015_col_list)
col_list2015

                0
0     CensusTract
1           State
2          County
3           Urban
4         POP2010
..            ...
80      TractAIAN
81   TractOMultir
82  TractHispanic
83      TractHUNV
84      TractSNAP

[85 rows x 1 columns]

In [18]:
clean_df5.isnull().sum().sort_values(ascending = False)

CensusTract           0
lalowi10              0
lahunv10              0
lahisp10              0
laomultir10           0
                     ..
LAPOP1_20             0
LAPOP05_10            0
LAPOP1_10             0
LATractsVehicle_20    0
TractSNAP             0
Length: 85, dtype: int64

In [19]:
def missing_values_table(clean_df5):
    mis_val = clean_df5.isnull().sum()
    mis_val_percent = 100 * clean_df5.isnull().sum() / len(clean_df5)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(clean_df5.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [20]:
missing_values_table(clean_df5)

Your selected dataframe has 85 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [21]:
len(clean_df5)

8044

In [22]:
import os  
os.makedirs('Resources/', exist_ok=True)  
col_list2015.to_csv('Resources/col_list2015.csv')

In [23]:
clean_df5=clean_df5.drop(columns=["State"])

In [24]:
clean_df5.head()

,CensusTract,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,...,TractLOWI,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,Alameda,1,2937,1314,0,2,0.000681,0,0,...,173,2161,142,456,9,4,165,117,0,0
3559,6001400200,Alameda,1,1974,856,0,70,0.035461,0,0,...,161,1659,33,147,0,4,131,151,57,6
3560,6001400300,Alameda,1,4865,2418,0,40,0.008222,0,0,...,781,3468,518,423,5,17,434,399,354,34
3561,6001400400,Alameda,1,3703,1779,0,33,0.008912,0,0,...,672,2628,456,278,6,14,321,332,159,9
3562,6001400500,Alameda,1,3517,1578,0,126,0.035826,0,0,...,924,1905,955,209,5,27,416,340,258,72

In [25]:
clean_df5.to_csv("Resources/FoodAccess2015_clean.csv", index=False)

In [33]:
foodAccess2015_df=clean_df5.copy()
foodAccess2015_df.head()

,CensusTract,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,...,TractLOWI,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
3558,6001400100,Alameda,1,2937,1314,0,2,0.000681,0,0,...,173,2161,142,456,9,4,165,117,0,0
3559,6001400200,Alameda,1,1974,856,0,70,0.035461,0,0,...,161,1659,33,147,0,4,131,151,57,6
3560,6001400300,Alameda,1,4865,2418,0,40,0.008222,0,0,...,781,3468,518,423,5,17,434,399,354,34
3561,6001400400,Alameda,1,3703,1779,0,33,0.008912,0,0,...,672,2628,456,278,6,14,321,332,159,9
3562,6001400500,Alameda,1,3517,1578,0,126,0.035826,0,0,...,924,1905,955,209,5,27,416,340,258,72